@import 'tailwindcss';

@theme {
    --color-bgColor: #181818;
    --breakpoint-phone: 32rem;
}

@keyframes pop {
    40% {
        transform: scale(1.25);
        rotate: -20deg;
    }
}

@utility animate-pop {
    animation: pop 0.6s;
}

@font-face {
    font-family: 'notosans';
    src: url('./assets/font/NotoSansKR-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@layer utilities {
    .bg-skeleton {
        @apply animate-pulse bg-gray-300;
    }
}

#root {
    width: 100%;
    max-width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #181818;
    font-family: 'notosans';
}
