@import 'tailwindcss';

@theme {
    --color-bgColor: #181818;
}

#root {
    width: 100vw;
    max-width: 100vw;
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #181818;
}
